body {
  background-color: blue;
  margin: 0;
}

header {
  width: 100%;
  padding: 2.5rem, 0, 2.5rem 0;
  text-align: center;
  height: 17.5rem;
}

h1,
h2 {
  /* margin: 0; */
  padding: 0;
  margin: 0;
}
h1 {
  margin-top: 0;
  line-height: 7.5rem;
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
}

nav {
  margin: 2.5rem;
  padding: 2.5rem, 0 2.5rem, 0;
}
ul.main-header_item-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  text-align: center;
}

ul.main-header_item-list > li {
  margin: 0 auto;
  text-align: center;
  width: 33.33%;
  font-size: 1.5rem;
}

.main-header_item a {
  text-decoration: none;
  color: black;
}

body#good > header {
  background-color: white;
}

body#bad {
  background-color: black;
}
body#bad > header {
  background-color: red;
}

body#error {
  background-color: white;
}
body#error > header {
  background-color: yellow;
}
