<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/nav.ejs') %>
  <!-- SCSS and CSS doesn't seem to work with node or something. -->

  <main>
    <form class="product-form" action="add-product" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <button type="submit">Add Product</button>
      </div>
    </form>
  </main>
</body>
</html>