.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: orange;
  padding: 0 1.5rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: aqua;
  font-family: sans-serif;
}

main {
  padding: 1rem;
}
.main-header_nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header_item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
li.main-header_item {
  margin: 0 1rem;
  padding: 0;
  // width: 100%;
}
.main-header_item a {
  text-decoration: none;
  color: white;
}
.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
  color: blue;
}
