<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assignment2.css" rel="stylesheet"> <!--"Public makes it think it starts in public folder"-->
  <title>Good Route</title>
</head>
<body id="good">
  <header class="main-header">
    <h1>Welcome to the Good Route! :)</h1>
    <h2>Where do you want to go next?</h2>
    <nav class="main-header_nav">
      <ul class="main-header_item-list">
        <li class="main-header_item"><a href="/awesome/goodRoute">Stay on Good Route</a></li>
        <li class="main-header_item"><a href="/">Go to Bad Route (why?)</a></li>
        <li class="main-header_item"><a href="/404.html">???</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>