<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="/scss/AFV.css" rel="stylesheet">  -->
  <link href="\scss\normalize.css" rel="stylesheet">
  <link href="\scss\scss(opt1)\opt1.css" rel="stylesheet"> 
  <title><%= pageTitle %></title>
</head>